.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 15px;
    z-index: 100;

    @media (max-width: 870px) {
        display: flex;
    }

    &.active::before {
        content: "Loren Ipsum";
        position: absolute;
        right: 100%;
        margin-right: 10px;
        color: #000;
        font-family: Actay;
        font-weight: 400;
        font-size: 12px;
        line-height: .46;
        text-align: center;
        text-wrap: nowrap;
    }
}

.burger-menu>span {
    width: 25px;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    transition: all .3s ease-in-out;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(10px);
        display: flex;
        width: 25px;
        height: 2px;
        border-radius: 2px;
        background-color: #fff;
        transition: all .3s ease-in-out;
    }

    &::before {
        transform: translateX(-50%) translateY(-10px);
    }
}

.burger-menu.active>span {
    width: 0;
}

.burger-menu.active>span::before {
    transform: translateX(-50%) rotateZ(45deg);
    background-color: #000;
}

.burger-menu.active>span::after {
    transform: translateX(-50%) rotateZ(-45deg);
    background-color: #000;
}